{{page-title "Axis"}}
  <NavBar>

<div onclick={{this.logOut}} style="
    align-self: end;
    width: 2vw;
    height: 2vw;
    padding: 1vw;
"><img style="
    width: 2vw;
    height: 2vw;
    filter: invert(100%);
" src="assets\images\logOut.png" alt="">
</div>

  </NavBar>



<div style="display: block; width:100%">
    <img style="display: block; width:100%; margin: 0px; " src="assets\images\hotel.png" alt="">
    <table border style="margin: auto; width:100%; text-aling:center">
        <tr style="background-color:lightgray">

            <th>Booking id</th>
            <th>Hotel id</th>
            <th>Booking Date</th>
            <th>Description</th>
            <th>PAX</th>
            <th colspan="3">Actions</th>
        </tr>
        {{#each this.records as |bRecords| }}
        <tr style="text-align: center;">
            <td>{{bRecords.bookingId}}</td>
            <td>{{bRecords.hotelId}}</td>
            <td>{{bRecords.bookingDate}}</td>
            <td>{{bRecords.description}}</td>
            <td>{{bRecords.pax}}</td>
            <td><button  onclick={{this.onClickEditButton}} style="background-color:orange; border-radius: 5px;">Editar</button></td>
            <td><button onclick={{this.onClickDeleteButton}} style="background-color: red; border-radius: 5px;">Borrar</button></td>
            <td><button style="
            width: 100%;
            margin: 0px;
            background-color: transparent;
            border: none;" onclick={{this.showInvoice}}>
            <img
            style="
            width: 30px;
            margin-top: 4px;
            "
            src="assets\images\ojoIcon.png" alt="">
            </button>
            </td>


        </tr>
        {{/each}}

    </table>
                    <!-- INVOICE -->

        <dialog id="factura"
        style="
        margin: auto;
        width: 80%;
        height: 90%;
        "
        >




        <h1 style="font-size: 4em; font-style: italic; padding: 1vw;">Axis Data </h1>
        <div class="info factura">

          <div class="datos factura">
              <p>Direccion:</p>
              <p>Ciudad y pais:</p>
              <p>CIF/NIF:</p>
              <p>Telofono:</p>
              <p>Mail:</p>

          </div>
          <div class="datos factura derecha">
             <p>Fecha emision:</p>
             <p>Numero de factura: {{this.invoiceData.booking_id}}</p>
          </div>

        </div>

        <table  class="tableDialog" >
          <tr>
            <th>Booking id</th>
            <th>Hotel id</th>
            <th>Booking Date</th>
            <th>Description</th>
            <th>PAX</th>
          </tr>
          <tr>
            <td>{{this.invoiceData.booking_id}}</td>
            <td>{{this.invoiceData.hotelId}}</td>
            <td>{{this.invoiceData.bookingDate}}</td>
            <td>{{this.invoiceData.description}}</td>
            <td>{{this.invoiceData.pax}}</td>
          </tr>
        </table>
        <div class="facturaTotal">

          <div class="divTotalFactura"><h2>Total </h2></div>
          <div class="divTotalFactura"> <h2>350€</h2></div>
        </div>

        <hr/>

        <div class="footerFactura">
          <h1>Gracias por su confianza</h1>
        </div>


        </dialog>




    <Axis
     @onClick={{this.setItemsLocalStorage}}>
    </Axis>

</div>
{{outlet}}